# Default ignored files
/shelf/
/.idea/
/node_modules/
/.env
/logistics-react/node_modules/
/logistics-react/logistics-react.iml
# Editor-based HTTP Client requests
/httpRequests/
/crud-node.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
