<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Logistics Inventory Tracker</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this server.</noscript>
    <div id="root"></div>
    <script src="/reactApp.js"></script>
</body>
</html>
